@model TheatreCMS3.Areas.Blog.Models.BlogAuthor

@*Top Nav*@
<div class="outer-shell" id="author-container-@Model.BlogAuthorId">
    <div class="nav-btn-con">
        <div class="row justify-content-md-center">
            @Html.ActionLink("Authors Details", "Details", null, new { @class = "btn author-det-btn" })
            @Html.ActionLink("Blog Posts", "BlogPosts", null, new { @class = "btn ml-2 author-det-btn" })
        </div>
    </div>

    @*Authors image*@
    <div class="details-container">
        <div class="image-container">
            <div class="image-frame">
                <img src="~/Content/Areas/images/OLS2VJ0.jpg" alt="Placeholder Image" />
            </div>
            @*For licensing requirement*@
            <div class="image-link">
                <a href="http://www.freepik.com">Designed by Articular / Freepik</a>
            </div>
        </div>

        <div>
            @*Name display*@
            <h4 class="author-name">
                @Html.DisplayFor(model => model.Name)
                @*Social Media Links*@
                <span class="float-right mt-2 mr-2">
                    @*FaceBook*@
                    <a href="https://www.facebook.com/" target="_blank">
                        <i class="fab fa-facebook fa-1x"></i>
                    </a>
                    @*InstaGram*@
                    <a href="https://www.instagram.com/" target="_blank">
                        <i class="fab fa-instagram fa-1x"></i>
                    </a>
                </span>
            </h4>

            @*Bio text area display*@
            <div class="bio-section">
                <p>
                    @Html.DisplayFor(model => model.Bio)
                </p>
            </div>

            @*Move to bottom*@
            <div class="bottom-details">
                <div>
                    @*Displays in one row*@
                    <dl class="side-by-side-details">
                        <dt>@*Display name for Joined*@
                            @Html.DisplayNameFor(model => model.Joined)
                        </dt>
                        <dt>@*Display name for Left*@
                            @Html.DisplayNameFor(model => model.Left)
                        </dt>
                        
                    </dl>
                </div>
                <div>
                    @*Displays in one row*@
                    <dl class="side-by-side-details">
                        <dd>@*Joined display*@
                            @Html.DisplayFor(model => model.Joined)
                        </dd>

                        <dd>@*Left display*@
                            @Html.DisplayFor(model => model.Left)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        
        @*Move to bottom left*@
        <div class="button-move">
            @*Edit button*@
            <a class="btn edit-btn-sm ml-2 mb-2" href="@Url.Action("Edit", new { id = Model.BlogAuthorId })"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
            @*Delete button*@
            <button class="btn delete-btn-sm ml-2 mb-2" id="delete-author" data-author="@Model.BlogAuthorId"><i class="fa-solid fa-trash-can"></i></button>
        </div>
    </div>
    
</div>
                                                                               