@model TheatreCMS3.Areas.Blog.Models.BlogAuthor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="outer-shell">
    <div class="nav-btn-con">
        <div class="row justify-content-md-center">
            @Html.ActionLink("Authors Details", "Details", null, new { @class = "btn author-det-btn" })
            @Html.ActionLink("Blog Posts", "BlogPosts", null, new { @class = "btn ml-2 author-det-btn" })
        </div>
    </div>

    <div class="details-container">
        <div class="image-container">
            <div class="image-frame">
                <img src="~/Content/Areas/images/OLS2VJ0.jpg" alt="Placeholder Image" />
            </div>
            <div class="image-link">
                <a href="http://www.freepik.com">Designed by Articular / Freepik</a>
            </div>
        </div>
        <div>

            <h4 class="author-name">
                @Html.DisplayFor(model => model.Name)
                <span class="float-right mt-2 mr-2">
                    <a href="https://www.facebook.com/" target="_blank">
                        <i class="fab fa-facebook fa-1x"></i>
                    </a>
                    <a href="https://www.instagram.com/" target="_blank">
                        <i class="fab fa-instagram fa-1x"></i>
                    </a>
                </span>
            </h4>
            <div class="bio-section">
                <p>
                    @Html.DisplayFor(model => model.Bio)
                </p>
            </div>
            <div class="bottom-details">
                <div>
                    <dl class="side-by-side-details">
                        <dt>
                            @Html.DisplayNameFor(model => model.Joined)
                        </dt>
                        <dt>
                            @Html.DisplayNameFor(model => model.Left)
                        </dt>
                    </dl>
                </div>
                <div>
                    <dl class="side-by-side-details">
                        <dd>
                            @Html.DisplayFor(model => model.Joined)
                        </dd>

                        <dd>
                            @Html.DisplayFor(model => model.Left)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a class="btn create-btn mt-2" href="@Url.Action("Index")"><i class="fa-solid fa-circle-arrow-left"></i> Back to List</a>
        <a class="btn edit-btn ml-2 mt-2" href="@Url.Action("Edit", new { id = Model.BlogAuthorId })"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
        <a class="btn delete-btn py-1 px-5 mt-2" href="@Url.Action("Delete", new { id = Model.BlogAuthorId })"><i class="fa-solid fa-trash-can"></i></a>
    </div>   
</div>

