@model IEnumerable<TheatreCMS3.Areas.Prod.Models.CalendarEvent>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<button onclick="location.href='@Url.Action("Create")'" class="create-button">Create New</button>


@foreach (var item in Model)
{

    <div class="container card-change">
        <div class="card ">
            <div class="card-header text-dark title-change">
                @Html.DisplayFor(modelItem => item.Title)

                    @if (item.EndDate != null)
                    {
                        if (item.StartDate < DateTime.Now)
                        {
                            int daysRemaining;
                            daysRemaining = (item.EndDate - DateTime.Now).Days;

                            <span>
                                @if (daysRemaining == 0)
                                {
                                    <span class="badge badge-danger badge-layout">Last Day!</span>
                                }
                                else if (daysRemaining >= 1)
                                {
                                    <span class="badge badge-warning badge-layout">@daysRemaining days remaining!</span>
                                }
                            </span>
                        }
                    }
            </div>

            @if (item.StartTime != null && item.EndTime != null)
            {
                TimeSpan duration = item.EndTime.Value - item.StartTime.Value;
                <div class="card-body text-dark">
                    @Html.DisplayFor(modelItem => item.StartTime)
                    -
                    @Html.DisplayFor(modelItem => item.EndTime)

                    @if (item.AllDay)
                    {
                        <div>
                            All Day
                        </div>
                    }
                    else if (duration.Days >= 1)
                    {
                        <div>
                            <span data-toggle="popover" data-content="This is a  @(duration.Days) day event" data-placement="bottom" style="cursor: pointer;">
                                <i class="fas fa-clock"></i> @(duration.Days) days
                            </span>
                        </div>
                    }
                </div>
            }
            <div class="card-footer text-dark card-footer-container">
                <div>
                    Start Date: @item.StartDate.ToString("yyyy/MM/dd")
                </div>
                <div>
                    Tickets Available: @Html.DisplayFor(modelItem => item.TicketsAvailable)
                </div>
                @if (item.IsProduction == true)
                {
                    <div>
                        Production: @Html.DisplayFor(modelItem => item.IsProduction)
                    </div>
                }
            </div>
            <div class="CRUD-layout">
                <button onclick="location.href='@Url.Action("Edit", new { id = item.EventId })'" class="btn-back-to-list">Edit</button>
                <button onclick="location.href='@Url.Action("Details", new { id = item.EventId })'" class="btn-back-to-list">Details</button>
                <button onclick="location.href='@Url.Action("Delete", new { id = item.EventId })'" class="btn-back-to-list">Delete</button>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>

